<aside class="widget w-category">
  <h5 class="widget-title">Categories</h5>
  <ul class="category-list">
    <li>
      <a href="#">Entrepreneur
        <span class="cat-count">39</span>
      </a>
    </li>
    <li>
      <a href="#">Innovation
        <span class="cat-count">632</span>
      </a>
    </li>
    <li>
      <a href="#">Startup
        <span class="cat-count">8</span>
      </a>
    </li>
    <li>
      <a href="#">Strategy
        <span class="cat-count">24</span>
      </a>
    </li>
    <li>
      <a href="#">Tech
        <span class="cat-count">2</span>
      </a>
    </li>
    <li>
      <a href="#">Marketing
        <span class="cat-count">16</span>
      </a>
    </li>
    <li>
      <a href="#">Trends
        <span class="cat-count">9</span>
      </a>
    </li>
  </ul>
</aside>
