<!-- Counters -->

<section class="bg-secondary-color background-contain bg-10">

  <div class="container">
    <div class="row">
      <div class="counters">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="crumina-module crumina-counter-item">
            <div class="counter-numbers counter c-yellow">
              <span data-speed="2000" data-refresh-interval="3" data-to="{{ project_stats.lines }}"
                    data-from="0">{{ project_stats.lines }}</span>
            </div>
            <h5 class="counter-title">Line of codes</h5>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
          <div class="crumina-module crumina-counter-item">
            <div class="counter-numbers counter c-yellow">
              <span data-speed="2000" data-refresh-interval="3" data-to="{{ project_stats.projects }}"
                    data-from="0">{{ project_stats.projects }}</span>
            </div>
            <h5 class="counter-title">Projects</h5>
          </div>
        </div>

        <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
          <h5 class="c-white">CoderTheory Applications</h5>
          <p class="c-semitransparent-white">Creating Applications for run and learning</p>
        </div>

      </div>
    </div>
  </div>

</section>

<!-- ... end  Counters -->
