<aside class="widget w-events crumina-module crumina-module-slider">
  <h5 class="widget-title">Upcoming Events</h5>
  <div class="swiper-container navigation-top-both-sides">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="event-day">March 2017</div>
        <div class="event-item">
          <a href="#" class="event-title h6">Claritas est etiam processus dynamicus, qui sequitur</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author7.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Frank Doe</a>
              <div class="author-company">Student, 23 years old</div>
            </div>
          </div>
        </div>
        <div class="event-item">
          <a href="#" class="event-title h6">Investigationes demonstraverunt lectores legere me lius
            quod</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author3.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Britney Bush</a>
              <div class="author-company">March 3 - March 6</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="event-day">April 2017</div>
        <div class="event-item">
          <a href="#" class="event-title h6">Claritas est etiam processus dynamicus, qui sequitur</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author7.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Frank Doe</a>
              <div class="author-company">Student, 23 years old</div>
            </div>
          </div>
        </div>
        <div class="event-item">
          <a href="#" class="event-title h6">Investigationes demonstraverunt lectores legere me lius
            quod</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author3.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Britney Bush</a>
              <div class="author-company">March 3 - March 6</div>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="event-day">May 2017</div>
        <div class="event-item">
          <a href="#" class="event-title h6">Claritas est etiam processus dynamicus, qui sequitur</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author7.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Frank Doe</a>
              <div class="author-company">Student, 23 years old</div>
            </div>
          </div>
        </div>
        <div class="event-item">
          <a href="#" class="event-title h6">Investigationes demonstraverunt lectores legere me lius
            quod</a>
          <div class="author-info-wrap">
            <div class="img-author">
              <img src="img/author3.png" alt="author">
            </div>
            <div class="author-info">
              <a href="#" class="h6 author-name">Britney Bush</a>
              <div class="author-company">March 3 - March 6</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="btn-prev">
      <svg class="utouch-icon icon-hover utouch-icon-arrow-left-1">
        <use xlink:href="#utouch-icon-arrow-left-1"></use>
      </svg>
      <svg class="utouch-icon utouch-icon-arrow-left1">
        <use xlink:href="#utouch-icon-arrow-left1"></use>
      </svg>
    </div>

    <div class="btn-next">
      <svg class="utouch-icon icon-hover utouch-icon-arrow-right-1">
        <use xlink:href="#utouch-icon-arrow-right-1"></use>
      </svg>
      <svg class="utouch-icon utouch-icon-arrow-right1">
        <use xlink:href="#utouch-icon-arrow-right1"></use>
      </svg>
    </div>
  </div>

  <a href="09_events_details_conference_workshops.html" class="btn btn--primary btn--with-shadow">
    Read More
  </a>

</aside>
