<aside class="widget w-latest-news">
  <h5 class="widget-title">Latest News</h5>

  <ul class="latest-news-control" role="tablist">

    <li role="presentation" class="tab-control active">
      <a href="#latest" role="tab" data-toggle="tab" class="control-item">Latest</a>
    </li>

    <li role="presentation" class="tab-control">
      <a href="#popular" role="tab" data-toggle="tab" class="control-item">Popular</a>
    </li>

    <li role="presentation" class="tab-control">
      <a href="#comments" role="tab" data-toggle="tab" class="control-item">Comments</a>
    </li>

  </ul>

  <div class="tab-content">
    <div role="tabpanel" class="tab-pane fade in active" id="latest">
      <ul class="latest-news-list">
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news1.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Video Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-03-23T16:31:34+00:00">23 March 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news2.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">The Important Standard Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-03-16T16:31:34+00:00">16 March 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news3.png" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Quote Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-02-28T16:31:34+00:00">28 February 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news4.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Photo with Slider Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-02-02T16:31:34+00:00">2 February 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news5.png" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Link Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-01-18T16:31:34+00:00">18 January 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>

      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="popular">
      <ul class="latest-news-list">
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news2.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">The Important Standard Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-03-16T16:31:34+00:00">16 March 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news3.png" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Quote Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-02-28T16:31:34+00:00">28 February 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news1.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Video Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-03-23T16:31:34+00:00">23 March 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news4.jpg" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Photo with Slider Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-02-02T16:31:34+00:00">2 February 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>
        <li>
          <article itemscope="" itemtype="http://schema.org/NewsArticle" class="latest-news-item">
            <header>

              <div class="post-thumb">
                <img src="img/l-news5.png" alt="news">
              </div>
              <div class="post-additional-info">
                <h6 class="post__title entry-title" itemprop="name">
                  <a href="17_news_details.html">Link Post Format</a>
                </h6>
                <span class="post__date">
														<time class="entry-date published updated" datetime="2017-01-18T16:31:34+00:00">18 January 2017</time>
													</span>
              </div>
            </header>
          </article>
        </li>

      </ul>
    </div>
    <div role="tabpanel" class="tab-pane fade" id="comments">
      <p class="product-description-text">
        Eodem modo typi, qui nunc nobis videntur parum clari, fiant sollemnes in futurum.
      </p>
    </div>
  </div>


</aside>
