<aside class="widget w-popular-products crumina-module crumina-module-slider">
  <h5 class="widget-title">Popular Projects</h5>
  <div class="swiper-container">

    <div class="swiper-wrapper">

      <div class="swiper-slide product-item">
        <div class="product-item-thumb">
          <div class="square-colored bg-product-blue-dark"></div>
          <img src="img/case5.jpg" alt="product">
        </div>
        <div class="product-item-content">
          <h6 class="title">Duis autem vel eum iriure dolor in hendrerit in vulputate</h6>
        </div>
      </div>

      <div class="swiper-slide product-item">
        <div class="product-item-thumb">
          <div class="square-colored bg-product-blue"></div>
          <img src="img/case1.jpg" alt="product">
        </div>
        <div class="product-item-content">
          <h6 class="title">Duis autem dolor in hendrerit in vulputate</h6>
        </div>
      </div>

      <div class="swiper-slide product-item">
        <div class="product-item-thumb">
          <div class="square-colored bg-product-violet"></div>
          <img src="img/case2.jpg" alt="product">
        </div>
        <div class="product-item-content">
          <h6 class="title">Duis autem vel eum iriure dolor in hendrerit in vulputate</h6>
        </div>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination"></div>

  </div>
</aside>
