<aside class="widget w-tags">
  <h5 class="widget-title">Categories</h5>
  <ul class="tags-list">
    <li>
      <a href="#">App</a>
    </li>
    <li>
      <a href="#">WordPress</a>
    </li>
    <li>
      <a href="#">UI Kit</a>
    </li>
    <li>
      <a href="#">Innovation</a>
    </li>
    <li>
      <a href="#">Trends</a>
    </li>
    <li>
      <a href="#">Startup</a>
    </li>
    <li>
      <a href="#">Marketing</a>
    </li>
    <li>
      <a href="#">WordPress Themes</a>
    </li>
  </ul>
</aside>
