{% load i18n %}

<footer class="footer" id="site-footer">
  <div class="header-lines-decoration">
    <span class="bg-secondary-color"></span>
    <span class="bg-blue"></span>
    <span class="bg-blue-light"></span>
    <span class="bg-orange-light"></span>
    <span class="bg-red"></span>
    <span class="bg-green"></span>
    <span class="bg-secondary-color"></span>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
        <div class="widget w-info">
          <div class="site-logo">
            <a href="{% url "website:home-view" %}" class="full-block"></a>
            <div class="logo-text">
              <div class="logo-title">CoderTheory</div>
              <div class="logo-sub-title">{% trans "Learn. Create. Impress." %}</div>
            </div>
          </div>


          <a href="{% url "website:about-us-view" %}" class="learn-more">Learn more about CoderTheory</a>
        </div>

      </div>

      <div class="col-lg-2 col-lg-offset-1 col-md-3 col-sm-12 col-sm-offset-0 col-xs-12">
        <div class="widget w-list">

          <h5 class="widget-title">Useful Links</h5>
          <ul class="list list--primary">
            <li>
              <a href="{% url "website:home-view" %}">Home</a>
              <svg class="utouch-icon utouch-icon-arrow-right">
                <use xlink:href="#utouch-icon-arrow-right"></use>
              </svg>
            </li>
            <li>
              <a href="{% url "website:privacy-policy-view" %}">Privacy</a>
              <svg class="utouch-icon utouch-icon-arrow-right">
                <use xlink:href="#utouch-icon-arrow-right"></use>
              </svg>
            </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-12 col-sm-offset-0 col-xs-12">
      </div>
    </div>

  </div>

  <div class="sub-footer">
    <a class="back-to-top" href="#">
      <svg class="utouch-icon utouch-icon-arrow-top">
        <use xlink:href="#utouch-icon-arrow-top"></use>
      </svg>
    </a>
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <span>
                    Copyright © 2021 <a href="{% url "website:home-view" %}" class="sub-footer__link">CoderTheory</a>
                </span>

          <span>Designed by <a href="https://themeforest.net/user/themefire/portfolio">themefire</a>
                    Developed by <a href="https://themeforest.net/user/crumina/portfolio">Crumina</a>
                    Only on <a href="https://themeforest.net/user/crumina/portfolio">Envato Market</a>
                </span>
        </div>
      </div>
    </div>
  </div>

</footer>
