<aside class="widget w-about">
  <div class="site-logo">
    <a href="{% url "website:home-view" %}" class="full-block"></a>
    <img src="img/logo.png" alt="Utouch">
    <div class="logo-text">
      <div class="logo-title">CoderTheory</div>
      <div class="logo-sub-title">app startup</div>
    </div>
  </div>

  <p>Claritas est etiam processus dynamicus, qui sequitur mutationem consuetudium lectorum. Mirum est
    notare quam littera gothica, putamus parum claram, anteposuerit formas.
  </p>

  <a href="{% url "website:home-view" %}" class="btn btn-border btn--with-shadow c-primary">
    read more
  </a>
</aside>
