{% extends "website/base.html" %}

{% load static %}

{% block title %}
  About Us
{% endblock %}



{% block body %}
  <div class="content-wrapper">
    <!-- Block IMG-bottom -->

    <section class="background-contain bg-15 bg-blue-lighteen pt120">
      <div class="container">
        <div class="row">
          <div class="crumina-module crumina-module-img-bottom">
            <div class="col-lg-7 col-md-12 col-sm-12 col-xs-12">
              <div class="crumina-module-img-content medium-padding100">
                <div class="crumina-module crumina-heading">
                  <h6 class="heading-sup-title">Iceteacity</h6>
                  <h2 class="heading-title">Welcome to <span class="c-primary">Iceteacity!</span></h2>
                </div>

              </div>
            </div>

            <div class="col-lg-4 col-lg-offset-1 col-md-12 col-sm-12 col-xs-12">
              <img class="img-bottom" src="{% static "website/img/man.png" %}" alt="man">
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- ... end Block IMG-bottom -->
  </div>
{% endblock %}
