{% extends "base.html" %}

{% block title %}Forbidden (403){% endblock %}

{% block body %}
  <div class="col-8 bg-secondary-color"></div>
  <div class="col-8 bg-primary-color"></div>
  <div class="col-8 bg-blue-light">
    <h2 class="error">Error</h2>
  </div>
  <div class="col-8 bg-orange-light">
    <h2 class="number">4</h2>
  </div>
  <div class="col-8 bg-red">
    <h2 class="number">0</h2>
  </div>
  <div class="col-8 bg-green">
    <h2 class="number">3</h2>
  </div>
  <div class="col-8 bg-secondary-color"></div>
  <div class="col-8 bg-primary-color"></div>

  <div class="page404-content">
    <h1>Forbidden (403)</h1>

    <p>{{ exception|default:"You do not have permissions to view this page" }}</p>
  </div>


{% endblock body %}
