{% extends "base.html" %}

{% block title %}Server Error{% endblock %}

{% block body %}

  <div class="col-8 bg-secondary-color"></div>
  <div class="col-8 bg-primary-color"></div>
  <div class="col-8 bg-blue-light">
    <h2 class="error">Error</h2>
  </div>
  <div class="col-8 bg-orange-light">
    <h2 class="number">5</h2>
  </div>
  <div class="col-8 bg-red">
    <h2 class="number">0</h2>
  </div>
  <div class="col-8 bg-green">
    <h2 class="number">0</h2>
  </div>
  <div class="col-8 bg-secondary-color"></div>
  <div class="col-8 bg-primary-color"></div>

  <div class="page404-content">
    <h1>Ooops!!! 500</h1>

    <h3>Looks like something went wrong!</h3>

    <p>We track these errors automatically, but if the problem persists feel free to contact us. In the meantime, try
      refreshing.</p>
  </div>





{% endblock body %}


